# === Web / API ===
fastapi==0.110.2
uvicorn==0.29.0

# === ML / Data ===
mlflow==2.13.0
pandas==2.1.4
numpy==1.26.4
scikit-learn==1.6.1
scipy==1.15.3

# === Infra / Utils ===
pydantic==2.7.1
pydantic-settings>=2.0
boto3==1.34.113
packaging==24.2
psutil==7.0.0
setuptools==69.5.1
loguru==0.7.2

# === Observability ===
prometheus-fastapi-instrumentator==6.1.0
prometheus-client==0.20.0
